### dictionary
   - ordered
   - mutable 
   - heterogenous
   - key value Pair
         - keys are immutable and unique
         - value can be mutable or immutable and can be duplicate and have any type
   - unindexed
   - represented by '{ }'
   - 'dict()' that can take key value pair as argument

In [1]:
fruits = {
    "apple": 2,
    "banana": 3,
    "orange": 5,
}

In [2]:
grocery = {
    'fruits': ['apple','banana','orange','grapes'],
    'vegetables': ['carrot','lettuce','onion'],
    'dairy': ['milk','cheese','yogurt'],
    'meat':None
}

In [30]:
reports = {
    'Rajesh':{
        'English': 90,
        'Maths': 80,
        'Science': 70,
    },
    'Suresh' :{
        'English': 56,
        'Maths': 57,
        'Science': 70,

    },
}

In [5]:
print(fruits)
print(grocery)
print(reports)

{'apple': 2, 'banana': 3, 'orange': 5}
{'fruits': ['apple', 'banana', 'orange', 'grapes'], 'vegetables': ['carrot', 'lettuce', 'onion'], 'dairy': ['milk', 'cheese', 'yogurt'], 'meat': None}
{'Rajesh': {'English': 90, 'Maths': 80, 'Science': 70}}

In [7]:
from pprint import pp

In [8]:
pp(fruits)
pp(grocery)
pp(reports)

{'apple': 2, 'banana': 3, 'orange': 5}
{'fruits': ['apple', 'banana', 'orange', 'grapes'],
 'vegetables': ['carrot', 'lettuce', 'onion'],
 'dairy': ['milk', 'cheese', 'yogurt'],
 'meat': None}
{'Rajesh': {'English': 90, 'Maths': 80, 'Science': 70}}

In [9]:
fruits['apple'] #fetching/retrieving data

2

In [10]:
fruits['apple'] = 10 #update value in dictionary
pp(fruits)

{'apple': 10, 'banana': 3, 'orange': 5}

In [11]:
fruits['mango'] = 25 #adding values
pp(fruits)

{'apple': 10, 'banana': 3, 'orange': 5, 'mango': 25}

In [13]:
grocery['spices'] = ['cumin','coriander','tumeric']
pp(grocery)

{'fruits': ['apple', 'banana', 'orange', 'grapes'],
 'vegetables': ['carrot', 'lettuce', 'onion'],
 'dairy': ['milk', 'cheese', 'yogurt'],
 'meat': None,
 'spices': ['cumin', 'coriander', 'tumeric']}

In [17]:
grocery['fruits'].remove('mango')#add new elements
pp(grocery)

{'fruits': ['mango'],
 'vegetables': ['carrot', 'lettuce', 'onion'],
 'dairy': ['milk', 'cheese', 'yogurt'],
 'meat': None,
 'spices': ['cumin', 'coriander', 'tumeric']}

In [16]:
pp(grocery)

{'fruits': ['mango', 'mango'],
 'vegetables': ['carrot', 'lettuce', 'onion'],
 'dairy': ['milk', 'cheese', 'yogurt'],
 'meat': None,
 'spices': ['cumin', 'coriander', 'tumeric']}

In [19]:
reports['Rajesh']['evs'] = 99
pp(reports)

{'Rajesh': {'English': 90, 'Maths': 80, 'Science': 70, 'evs': 99}}

In [20]:
fruits.pop('banana') #gives value of removed key

3

In [21]:
reports.pop('Rajesh')

{'English': 90, 'Maths': 80, 'Science': 70, 'evs': 99}

In [25]:
grocery['vegetables'].remove('onion')

ValueError: list.remove(x): x not in list

In [27]:
fruits.values()

dict_values([10, 5, 25])

In [28]:
fruits.items()

dict_items([('apple', 10), ('orange', 5), ('mango', 25)])

traversal

In [29]:
for k,v in fruits.items():
    print(k,v)

apple 10
orange 5
mango 25

In [31]:
reports['Suresh']['English']

56

In [32]:
reports.get('Suresh')

{'English': 56, 'Maths': 57, 'Science': 70}

In [33]:
reports.get('ramesh','ye student kabhi aaya hi nahi')

'ye student kabhi aaya hi nahi'

In [34]:
reports.get('Suresh','ye student kabhi aaya hi nahi')

{'English': 56, 'Maths': 57, 'Science': 70}

In [36]:
reports['sunita'] = {
    'English' : 90,
    'Maths' : 91,
    'Science' : 95,
 }
pp(reports)

{'Rajesh': {'English': 90, 'Maths': 80, 'Science': 70},
 'Suresh': {'English': 56, 'Maths': 57, 'Science': 70},
 'sunita': {'English': 90, 'Maths': 91, 'Science': 95}}

In [38]:
for student, details in reports.items() :
    print(student)
    for subject,marks in details.items():
        print(f'{marks} in {subject}')
    print('---'* 10)

Rajesh
90 in English
80 in Maths
70 in Science
------------------------------
Suresh
56 in English
57 in Maths
70 in Science
------------------------------
sunita
90 in English
91 in Maths
95 in Science
------------------------------

In [47]:
employees = {
    'Raj':{
        'Department': 'IT hub',
        'Salary': 75000,
        'Skills': ['coding','management'],
        'Projects': {
            'project1' :{
                'project_name': 'HRMS',
                'project duration': 6,
                'project technology': ['excel','power bi','powerpoint']
            },
        }
    },
    'Mohan':{
        'Department': 'Government Sector',
        'Salary': 85000,
        'Skills': ['Cyber Security'],
        'Projects':{
            'project2' :{
            'project_name': 'HQ'
            'project duration': 9
            'project technology':['Excel','MS office']
            },

        }
    },
    'Raman':{
        'Department': 'Government Sector',
        'Salary': 85000,
        'Skills': ['Cyber Security'],
        'Projects':{
            'project2' :{
            'project_name': 'HQ'
            'project duration': 9
            'project technology':['Excel','MS office']
            },

        }
    },
}
pp(employees)

SyntaxError: invalid syntax (1632245127.py, line 21)