In [1]:
x = (1,2,3) #tuple packing
print(x)
print(type(x))

(1, 2, 3)
<class 'tuple'>

In [3]:
#single element tuple
b = (13,)
print(b)
print(type(b))

(13,)
<class 'tuple'>

In [5]:
a =12, 13, 14

In [6]:
#tuple unpacking
x1, x2, x3 = a # a has 3 elements
print(x1,x2,x3)

12 13 14

In [7]:
#tuple unpacking
a =(1,3,5,6,7,12,14,16,17)
a1, a2, *a3 = a # a3 will get the remaining elements
print(a1,a2,a3)

1 3 [5, 6, 7, 12, 14, 16, 17]

In [9]:
a[:4] #slicing

(1, 3, 5, 6)

In [10]:
for i in a:
    print(i)

1
3
5
6
7
12
14
16
17

In [13]:
x = (1,2,3,1,2,3,1,2,3)
print(x.count(1))
print(x.count(2))
print(x.count(3))
print(x.index(1,5))

3
3
3
6

In [14]:
a = [1,2,3]
at = tuple(a)
al = list(at)
print(at)
print(al)

(1, 2, 3)
[1, 2, 3]

SET

In [16]:
s = {1,2,3,1,2,3,1,2,3}
print(s)
print(type(s))

{1, 2, 3}
<class 'set'>

In [17]:
s1 = set()# empty set
print(s1)
print(type(s1))

set()
<class 'set'>

In [20]:
s1.add(3)
s1.add(4)
s1.add('hello')
s1.add('all')
s1.add(3)
print(s1)

{'all', 3, 4, 'hello'}

In [22]:
s1.discard(3)#remove 3 from set 1

In [23]:
for i in s1:
    print(i)

all
4
hello

In [24]:
name = list('anugrah peters')
print(name)

['a', 'n', 'u', 'g', 'r', 'a', 'h', ' ', 'p', 'e', 't', 'e', 'r', 's']

In [29]:
# set operations
group1 = {'apple','banana','orange','mango'}
group2 = {'apple','grapes','papaya','mango','watermelon'}
print(group1 | group2)
print(group1 & group2)
print(group1 - group2) #elements in group 1 but not in group 2
print(group2 - group1) #elements in group 2 but not in group 1
print(group2.difference(group1))

{'watermelon', 'banana', 'orange', 'mango', 'grapes', 'papaya', 'apple'}
{'mango', 'apple'}
{'orange', 'banana'}
{'watermelon', 'grapes', 'papaya'}
{'watermelon', 'grapes', 'papaya'}

In [31]:
#symmetric difference
print(group1 ^ group2)# elements in group 1 or group 2 but not in both
print(group1.symmetric_difference(group2))

{'watermelon', 'banana', 'grapes', 'papaya', 'orange'}
{'watermelon', 'banana', 'grapes', 'papaya', 'orange'}

In [42]:
reports = [
    ['rohan:',[
        ['maths',90],
        ['physics',91],
        ['chemistry',97]
    ]],
    
    ['mohan:',[
        ['maths',23],
        ['physics',1],
        ['chemistry',97]
    ]],
    ['rakesh',[
        ['maths',90],
        ['physics',91],
        ['chemistry',97]
    ]],
    ['kamlesh',[
        ['maths',90],
        ['physics',91],
        ['chemistry',97]
    ]],
    ['rajesh',[
        ['maths',90],
        ['physics',91],
        ['chemistry',97]
    ]],
    ['suresh' ,[
        ['maths',90],
        ['physics',91],
        ['chemistry',97]
    ]],
    ['sohan',[
        ['maths',90],
        ['physics',91],
        ['chemistry',97]
    ]],
]

In [43]:
for student in reports:
    for detail in student:
        if isinstance(detail,str):
            print(detail)
        if isinstance(detail,list):
            for subject in detail:
                print(subject[0],subject[1])
                print(' ')

rohan
maths 90

physics 91

chemistry 97

mohan
maths 23

physics 1

chemistry 97

rakesh
maths 90

physics 91

chemistry 97

kamlesh
maths 90

physics 91

chemistry 97

rajesh
maths 90

physics 91

chemistry 97

suresh
maths 90

physics 91

chemistry 97

sohan
maths 90

physics 91

chemistry 97